/vendor/
/node_modules/
/dist-npm/
/composer.lock
/package-lock.json
/node_modules_old_*/
/base/
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
*.sqlite
*.sqlite-journal
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
